.jumbotron {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    text-decoration: none; 
    color:black;
    margin-bottom: 10px;
    background-color: lightgray; 
    clear: "both";
    background-image:url('https://mliu0506.github.io/clicky-game/public/images/headerbg.jpeg');
    z-index: 99;
  }
  